<launch>

<node name="baselink2target1_tf_publisher" pkg="tf" type="static_transform_publisher" args="5 6.2 1 0 0 0 map target1 20" />

<node name="baselink2target2_tf_publisher" pkg="tf" type="static_transform_publisher" args="1.5 6.3 1 0 0 0 map target2 20" />

 <node name="map2human_tf_publisher" pkg="tf" type="static_transform_publisher" args="-2 0 0 0 0 0 map mocap_human-1 20" />

</launch>
